@tailwind base;
@tailwind components;
@tailwind utilities;
/* npx tailwindcss -i ./styles/globals.css -o ./styles/output.css --watch */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
